body {
  background: linear-gradient(135deg, white, blue);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  position: relative;
  margin: auto;
  height:300px;
  width: 500px;
}

.fractal {
  display: block;
  position: absolute;
  background: transparent;
}

.fractal:before {
  content: "";
  height: 113%;
  width: 100%;
   border-left: 1px solid black;
   -webkit-transform:
     translateY(14%)
     translateX(19%)
     rotate(27deg);
   position: absolute;
 }

 .fractal:after {
   content: "";
   height: 113%;
   width: 100%;
    border-right: 1px solid black;
    -webkit-transform:
      translateY(14%)
      translateX(-19%)
      rotate(-27deg);
    position: absolute;
  }
/*.fractal:after {
   content: "";
   height: 110%;
   width: 100%;
   border-right: 1px solid green;
   -webkit-transform:
     translateY(10%)
     translateX(-15%)
     rotate(-25deg);
   position: absolute;*/

/*.fractal:before{
content:"";
position:absolute;
border-top:1px solid black;
width: 140%;
left: 50%;
transform: rotate(63.5deg);
transform-origin: 0% 0%;
}*/

/*.fractal:after{
content:"";
position:absolute;
border-top:1px solid black;
width: 110%;
left: 50%;
transform: rotate(63.5deg);
transform-origin: 0% 0%;
}*/
