.container {
  position: relative;
  margin: auto;
  height:300px;
  width: 500px;
}

.fractal {
  display: block;
  position: absolute;
  background: transparent;
  border: 1px solid black;
}

/*.fractal:before{
content:"";
position:absolute;
border-top:1px solid black;
width: 140%;
left: 50%;
transform: rotate(63.5deg);
transform: scaleX(-1);
transform-origin: 0% 0%;
}*/

.fractal:after{
content:"";
position:absolute;
border-top:1px solid black;
width: 110%;
left: 50%;
transform: rotate(63.5deg);
transform-origin: 0% 0%;
}
